html body .rdw-editor-main .public-DraftEditor-content .rdw-emoji-modal {
  position: fixed !important;
  top: 30% !important;
  left: 30% !important;
  width: 400px !important;
  height: 400px !important;
  z-index: 100000 !important;
  background-color: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
  border-radius: 4px !important;
  overflow: auto !important;
  padding: 20px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

html body .rdw-emoji-icon {
  width: 35px !important;
  height: 35px !important;
  margin: 3px !important;
  padding: 3px !important;
  font-size: 22px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
}

html body .rdw-emoji-icon:hover {
  background-color: #f1f1f1 !important;
  border-radius: 4px !important;
}

html body .rdw-fontsize-dropdown,
html body .rdw-fontfamily-dropdown,
html body .rdw-dropdown-optionwrapper {
  z-index: 100000 !important;
  position: absolute !important;
  background: white !important;
  border: 1px solid #f1f1f1 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  width: auto !important;
  max-height: 300px !important;
  overflow-y: auto !important;
}
